[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = {extras = ["srv"], version = "*"}
requests = "*"
python-dotenv = "*"
certifi = "*"

[dev-packages]
